/* ----titulo ------------------------------------------ */

.title-page {
    position: absolute;
    top:20px;
    left: calc(50% - 175px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    color: #000;
}

.title-page span {
    color: #000;
    font-size: 2.2rem;
    animation: infinite title-animation 2.5s steps(3);
    -webkit-animation: infinite title-animation 2.5s steps(3) ease ;
}

.title-page span.textAnimation02{
    animation-delay: 0.05s;
}
.title-page span.textAnimation01 {
    animation-delay: -.09s;
    -webkit-animation-delay: -.05s;
}
.title-page span.textAnimation03 {
    animation-delay: -.02s;
    -webkit-animation-delay: -.02s;
}

.-n {
    color: red;
    margin: 0 15px 0 0;
}

@keyframes title-animation {
    0%{text-shadow: #55f 2px 2px 1px, #c8ff00 -2px -2px 1px;}
    15%{text-shadow: #55f -3px -2px 1px, #c8ff00 2px 2px 1px;}
    50%{text-shadow: #55f 2px 3px 1px, #c8ff00 -2px -2px 1px;}
    55%{text-shadow: rgb(255, 133, 85) 2px 3px 1px, #2f00ff -2px -2px 1px;}
    60%{text-shadow: #55f 3px -2px 1px, #ff0080 2px 2px 1px;}
    70%{text-shadow: #55f 3px -2px 1px, #c8ff00 2px 2px 1px;}
    100%{text-shadow: #55f 1px 2px 1px, #c8ff00 -2px -2px 1px;}
}

@-webkit-keyframes title-animation {
    0%{text-shadow: #55f 2px 2px 1px, #c8ff00 -2px -2px 1px;}
    15%{text-shadow: #55f -3px -2px 1px, #c8ff00 2px 2px 1px;}
    50%{text-shadow: #55f 2px 3px 1px, #c8ff00 -2px -2px 1px;}
    55%{text-shadow: rgb(255, 133, 85) 2px 3px 1px, #2f00ff -2px -2px 1px;}
    60%{text-shadow: #55f 3px -2px 1px, #ff0080 2px 2px 1px;}
    70%{text-shadow: #55f 3px -2px 1px, #c8ff00 2px 2px 1px;}
    100%{text-shadow: #55f 1px 2px 1px, #c8ff00 -2px -2px 1px;}
}


/* ------------------------------------------------- */
.container-text {
    
    height: 50% ;
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 75px;
    right: 14%;
    top: 200px;
}

.text {
    width: 350px ;
    background-color: #000;
    border-radius: 15px;
    padding: 10px 5px;
}

.text01{
    letter-spacing: 2.3px;
    
}

.text p {
    margin: 0 10px;
}



.text02 {
    letter-spacing: 1.3px;
    font-size: 1.7rem;
    font-weight: 900;
    text-align: center;
    
}



