.mascote {
    left: 350px;
    top: 50px;
    height: 300px;
}

.container-text {
    top: 80px;
    row-gap: 35px;
}

.text {
    font-weight: 500;
}

.text02 {
    text-align: start;
}

.container-content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-button {
    width: 65%;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "b01 b02 b03 b04"
    " b05 "  ;
    column-gap: 25px;
    position: absolute;
    bottom: 135px;
    
}



.container-button a   {
    padding: 10px 15px;
    height: 30px;
    width: auto;
    border-radius: 12px;
    border: #c8ff00 4px  outset;
    font-style: none;
    list-style: none;
    text-decoration: none;
   
    transition: 0.5s ease;
}

.b05 {
    position: absolute;
    left: calc(50% - 110px);
    bottom: 0;
}

.container-button a:hover {
    background-color: #c8ff0005;
    border: #fff double 4px ;
    animation: all none;
    cursor: pointer;
}

li {
    font-size: 1rem;
    text-align: center;
    color: #000;
}